@if (banners().length) {
  <adc-carousel
    [autoShift]="autoShift()"
    [autoShiftDirection]="autoShiftDirection()"
    [autoShiftIntervalSec]="autoShiftIntervalSec()"
    [dragFps]="dragFps()"
    [thresholdPercentage]="thresholdPercentage()"
  >
    @for (banner of banners(); track banner) {
      <adc-carousel-slide>
        <adc-banner
          [backgroundImage]="banner.backgroundImage"
          [title]="banner.title"
          [text]="banner.text"
          [frontImage]="banner.frontImage"
          [link]="banner.link"
          [heightPixels]="bannerHeightPixels()"
        ></adc-banner>
      </adc-carousel-slide>
    }
  </adc-carousel>
} @else {
  <div class="loader-block" [style.height]="bannerHeightRem() + 'rem'"></div>
}

<fieldset class="carousel-config">
  <legend>Carousel configuration</legend>

  <p>
    <label for="autoShift">Auto shift</label>
    <input id="autoShift" type="checkbox" [formControl]="autoShiftControl" />
  </p>

  <p>
    <label for="autoShiftIntervalSec">Auto shift interval (seconds)</label>
    <input
      id="autoShiftIntervalSec"
      type="number"
      [min]="0"
      [formControl]="autoShiftIntervalSecControl"
    />
  </p>

  <p>
    <label for="thresholdPercentage">Threshold (%)</label>
    <input
      id="thresholdPercentage"
      type="number"
      [min]="0"
      [formControl]="thresholdPercentageControl"
    />
  </p>

  <p>
    <label for="dragFps">Dragging FPS</label>
    <input id="dragFps" type="number" [min]="0" [formControl]="dragFpsControl" />
  </p>

  <fieldset>
    <legend>Auto shift direction</legend>

    <p>
      <input id="left" type="radio" value="left" [formControl]="autoShiftDirectionControl" />
      <label for="left">Left</label>
    </p>

    <p>
      <input id="right" type="radio" value="right" [formControl]="autoShiftDirectionControl" />
      <label for="right">Right</label>
    </p>
  </fieldset>
</fieldset>
