@import 'functions';

$carousel-config-margin-top: px-to-rem(30);

:host {
  .carousel-config {
    margin-top: $carousel-config-margin-top;

    .config-title {
      text-align: center;
    }

    .control-row {
      display: flex;
      flex-flow: wrap;
      margin: px-to-rem(20) 0;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      .control-col {
        flex: 0 0 50%;
      }
    }

    .radio-option {
      &:last-child {
        margin-top: px-to-rem(10);
      }
    }

    input:not([type='checkbox']):not([type='radio']) {
      width: 100%;
    }
  }
}
