@if (banners().length) {
  <adc-carousel
    [autoShift]="autoShift()"
    [autoShiftDirection]="autoShiftDirection()"
    [autoShiftIntervalSec]="autoShiftIntervalSec()"
    [dragFps]="dragFps()"
    [thresholdPercentage]="thresholdPercentage()"
    [heightPixels]="bannerHeightPixels()"
  >
    @for (banner of banners(); track banner) {
      <adc-carousel-slide>
        <adc-banner
          [backgroundImage]="banner.backgroundImage"
          [title]="banner.title"
          [text]="banner.text"
          [frontImage]="banner.frontImage"
          [link]="banner.link"
        ></adc-banner>
      </adc-carousel-slide>
    }
  </adc-carousel>
} @else {
  <div class="loader-block" [style.height]="bannerHeightRem() + 'rem'"></div>
}

<div class="carousel-config">
  <h2 class="config-title">Carousel configuration</h2>

  <fieldset>
    <div class="control-row">
      <div class="control-col">
        <label for="autoShift">Auto shift</label>
      </div>

      <div class="control-col">
        <input id="autoShift" type="checkbox" [formControl]="autoShiftControl" />
      </div>
    </div>

    <div class="control-row">
      <div class="control-col">
        <label for="autoShiftIntervalSec">Auto shift interval (seconds)</label>
      </div>
      <div class="control-col">
        <input
          id="autoShiftIntervalSec"
          type="number"
          [min]="0"
          [formControl]="autoShiftIntervalSecControl"
        />
      </div>
    </div>

    <div class="control-row">
      <div class="control-col">
        <label for="thresholdPercentage">Threshold (%)</label>
      </div>
      <div class="control-col">
        <input
          id="thresholdPercentage"
          type="number"
          [min]="0"
          [formControl]="thresholdPercentageControl"
        />
      </div>
    </div>

    <div class="control-row">
      <div class="control-col">
        <label for="dragFps">Dragging FPS</label>
      </div>
      <div class="control-col">
        <input id="dragFps" type="number" [min]="0" [formControl]="dragFpsControl" />
      </div>
    </div>

    <div class="control-row">
      <div class="control-col">
        <label>Auto shift direction</label>
      </div>

      <div class="control-col">
        <div class="radio-option">
          <input id="left" type="radio" value="left" [formControl]="autoShiftDirectionControl" />
          <label for="left">Left</label>
        </div>

        <div class="radio-option">
          <input id="right" type="radio" value="right" [formControl]="autoShiftDirectionControl" />
          <label for="right">Right</label>
        </div>
      </div>
    </div>
  </fieldset>
</div>
