@import 'functions';

$slide-shifting-speed: 0.2s;

:host {
  .container {
    overflow: hidden;
    position: relative;

    .carousel {
      display: flex;
      justify-content: flex-start;
      left: -100%;
      position: relative;

      &.shifting {
        transition: left $slide-shifting-speed ease-out;
      }
    }
  }
}
