$path-fonts: '@assets/fonts';
$path-font-rubik: '#{$path-fonts}/Rubik-VariableFont_wght.ttf';
$path-font-rubik-italic: '#{$path-fonts}/Rubik-Italic-VariableFont_wght.ttf';

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
