<section class="container" [style.background-image]="'url(' + backgroundImage() + ')'">
  @if (frontImage()) {
    <div class="front-image" [style.background-image]="'url(' + frontImage() + ')'"></div>
  }

  <article class="content">
    @if (title()) {
      <h2 class="title">{{ title() }}</h2>
    }

    @if (text()) {
      <p class="text" [innerHTML]="text()"></p>
    }

    @if (link()) {
      <a class="button" rel="bookmark" [href]="link()?.href">{{ link()?.text }}</a>
    }
  </article>
</section>
