:host {
  .container {
    max-width: 100%;
    width: 100vw;

    .wrapper {
      @media (min-width: 600px) {
        margin: 0 auto;
        max-width: 600px;
      }

      .header {
        text-align: center;
      }
    }
  }
}
