@import 'variables';
@import 'functions';

@font-face {
  font-family: localRubik;
  src: url($path-font-rubik);
}

@font-face {
  font-family: localRubik;
  font-style: italic;
  src: url($path-font-rubik-italic);
}

html {
  font-family: localRubik, sans-serif;
  font-size: px-to-rem($font-size-default-px);
  font-weight: 400;
}
